section.custom-about-advantage(:class='[ `custom-about-advantage--padding-${props.padding}` ]')
  CustomAboutAdvantageDesktop.custom-about-advantage--desktop(:props='props')
  CustomAboutAdvantageMobile.custom-about-advantage--mobile(:props='props')