.pages-management-consulting
  .pages-management-consulting__sections.page-section(v-for='(section, i) in props.page_sections' :key='`management-consulting-section-${i}`')
    HeroPages(v-if='section.acf_fc_layout === "hero_pages"', :props='section')
    BlockContent(v-else-if='section.acf_fc_layout === "block_content"', :props='section')
    CustomManagementCapabilities(v-if='section.acf_fc_layout === "custom_management_capabilities"', :props='section')
    BlockSeparator(v-else-if='section.acf_fc_layout === "separator"', :props='section')