section.custom-about-advantage-desktop
  .custom-about-advantage-desktop__container
    .custom-about-advantage-desktop__column
      .custom-about-advantage-desktop__circles(v-if='props.stages')
        .custom-about-advantage-desktop__circle(v-for='(circle, i) in props.stages' :key='`stage-${i}`' tabindex='0' ref='circles')
          .custom-about-advantage-desktop__circle-bg
            h4.custom-about-advantage-desktop__circle-name(v-if='circle.name') {{ circle.name }}
          .custom-about-advantage-desktop__branch
          .custom-about-advantage-desktop__line
            span
            .custom-about-advantage-desktop__dot
          .custom-about-advantage-desktop__description {{ circle.description }}