.hero-pages(:style='{ marginTop: navHeight, opacity: compOpacity }')
  .hero-pages__stripe(ref='stripe')
  .hero-pages__background(:key='imgSrc' ref='bg')
    picture.hero-pages__background-picture(ref='image')
      source(:srcset='bgWebp' type='image/webp')
      img.hero-pages__background-image(:src='imgSrc' alt='hero image' aria-hidden='true')
  picture.hero-pages__picture(ref='mainImage')
    source(:srcset='imgWebp' type='image/webp')
    img.hero-pages__image(:src='imgSrc' alt='hero image' aria-hidden='true' :style='{ objectPosition: props.image }')
    BaseIcon(name='hero-pages-clip')
  .hero-pages__container
    .hero-pages__content
      h1.hero-pages__title(v-if='props.title' v-html='props.title' ref='title')
      .hero-pages__body( v-html='props.body' ref='body')
  
