.footer-mobile
  .footer-mobile__graphic
    span
    span
    span
  .footer-mobile__container
    .footer-mobile__row
      .footer-mobile__social-media(v-if='props.social_media')
        a.footer-mobile__social-media-link(v-for='(social, i) in props.social_media'
          :key='`social-link-${i}`' 
          :aria-label='social.aria'
          :href='social.href'
          target='_blank')
          BaseIcon(:name='social.account')
      .footer-mobile__address
        .footer-mobile__address-name {{ props.company_name }}
        a.footer-mobile__address-link(v-html='props.address.label' :href='props.address.href' target='_blank' :aria-label='`open map to ${props.address.label}`')
    .footer-mobile__row
      //- FormFormSubscribe.footer-mobile__form(:props='props.subscription_label')
      <div id="mc_embed_signup">
        <form action="https://advisorgrowthllc.us10.list-manage.com/subscribe/post?u=55ab5fe4bff56950f0608f2e3&amp;id=4765233206&amp;f_id=001334e2f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
              <h2>STAY CURRENT ON INDUSTRY TRENDS</h2>
              <div class="mc-field-group">
                <input placeholder=" " type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" required>
                <label for="mce-EMAIL">Email Address</label>
                <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_55ab5fe4bff56950f0608f2e3_4765233206" tabindex="-1" value=""></div>

                <div id="mce-responses" class="clear">
                  <div class="response" id="mce-error-response" style="display:none"></div>
                  <div class="response" id="mce-success-response" style="display:none"></div>
                  <div for="mce-EMAIL" class="mce_inline_error"></div>
                </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->

                <div class="clear">
                  <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"  class="button">
                </div>
              </div>
            </div>
        </form>
      </div>
      .footer-mobile__links(v-if='links' role='menu')
        nuxt-link.footer-mobile__link(v-for='(link, i) in links', role='menuitem' :key='`footer-mobile-link-${i}`', :to='link.path' v-html='link.name')