.hero-home
  @include laptop-lg
    height: 35vw
  @include nexus
    height: 70vw
  @include phone-lg
    height: 85vw
  @include phone
    height: 120vw
  position: relative
  width: 100%
  height: 44vw
  overflow-x: clip

  &__stripe
    @include desktop
      bottom: 40%
      height: rem-calc(100)
    @include laptop
      right: -30%
      bottom: 35%
      height: rem-calc(60)
    @include tablet-lg
      right: -30%
      bottom: 30%
      height: rem-calc(50)
    @include tablet
      opacity: .2
      height: rem-calc(40)
    @include nexus
      bottom: 20%
    position: absolute
    right: -27%
    bottom: 40%
    transform: rotate(-55deg)
    z-index: 1
    border-radius: rem-calc(60)
    background: $primary
    width: 50vw
    height: rem-calc(70)

  &__background
    @extend %absolute
    @include tablet
      opacity: .25
    z-index: -1

  &__overlay
    @extend %absolute
    @include tablet
      opacity: .4
    display: flex
    opacity: .9
    z-index: 0

    &-stripes
      width: 50%
      height: 100%

      svg
        @include laptop-lg
          width: 100%
          height: auto
        height: 100%

    &-fill
      flex: 1 0 auto
      background: $white
      height: 100%

  &__picture
    @extend %absolute
    @include tablet
      opacity: .7
    z-index: -1
  
  &__image
    @extend %absolute
    @include phone-land-lg
      object-position: center top
    object-fit: cover
    object-position: center center

  &__container
    @include container
    @include tablet
      justify-content: flex-end
    align-items: center
    height: 100%

  &__content
    @include col (6.5)
    @include col--offset (5.5)

  &__title
    @extend %h1-hero

  &__body
    @extend %body-lg