.hero-home(:style='{ marginTop: navHeight, opacity: compOpacity }')
  .hero-home__background(:key='imgSrc' ref='bg')
    .hero-home__overlay
      BaseIcon.hero-home__overlay-stripes(name='home-hero-overlay')
      .hero-home__overlay-fill
    picture.hero-home__picture(ref='image')
      source(:srcset='imgWebp' type='image/webp')
      img.hero-home__image(:src='imgSrc' alt='hero image' aria-hidden='true')
  .hero-home__stripe-container
    .hero-home__stripe(ref='stripe')
  .hero-home__container
    .hero-home__content
      h1.hero-home__title(v-if='props.title' v-html='props.title' ref='title')
      .hero-home__body( v-html='props.body' ref='body')
  
