.pages-ria-deal-room
  .pages-ria-deal-room__sections.page-section(v-for='(section, i) in props.page_sections' :key='`ria-deal-room-section-${i}`')
    HeroPages(v-if='section.acf_fc_layout === "hero_pages"', :props='section')
    HeroPagesSmall(v-else-if='section.acf_fc_layout === "hero_pages_small"', :props='section')
    BlockContent(v-else-if='section.acf_fc_layout === "block_content"', :props='section')
    BlockSeparator(v-else-if='section.acf_fc_layout === "separator"', :props='section')
    CustomRiaWebinar(v-else-if='section.acf_fc_layout === "block_webinar_list"', :props='section' :webinars='webinars')