.pages-ria-deal-room
  .pages-ria-deal-room__sections.page-section(v-for='(section, i) in props.page_sections' :key='`ria-deal-room-section-${i}`')
    HeroPages(v-if='section.acf_fc_layout === "hero_pages"', :props='section')
    HeroPagesSmall(v-else-if='section.acf_fc_layout === "hero_pages_small"', :props='section')
    BlockContent(v-else-if='section.acf_fc_layout === "block_content"', :props='section')
    BlockLinks(v-else-if='section.acf_fc_layout === "block_links"', :props='section')
    BlockSeparator(v-else-if='section.acf_fc_layout === "separator"', :props='section')
    //-BlockStackedLinks(v-else-if='section.acf_fc_layout === "custom_ria_report"' :links='recent' :props='section')
    BlockStackedLinks(v-else-if='section.acf_fc_layout === "custom_ria_reports_previous"' :links='previous' :props='section')
    CustomRiaWebinar(v-else-if='section.acf_fc_layout === "block_webinar_list"', :props='section' :webinars='webinars')
