.pages-team
  .pages-team__sections.page-section(v-for='(section, i) in props.page_sections' :key='`team-section-${i}`')
    HeroPages(v-if='section.acf_fc_layout === "hero_pages"', :props='section')
    HeroPagesSmall(v-else-if='section.acf_fc_layout === "hero_pages_small"', :props='section')
    BlockContent(v-else-if='section.acf_fc_layout === "block_content"', :props='section')
    BlockSeparator(v-else-if='section.acf_fc_layout === "separator"', :props='section')
    CustomTeamAll(v-else-if='section.acf_fc_layout === "team_list"' :team='sortedTeam' :categories='categories' :windowWidth='windowWidth')