@mixin hover-supported
  @media not all and (pointer: coarse)
    &:hover
      @content

@mixin ie11-support
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
    @content

@mixin focus ($offset: rem-calc(3), $width: rem-calc(2), $style: dashed, $color: $accent1)
  &:focus-visible
    outline-offset: $offset
    outline-width: $width
    outline-style: $style
    outline-color: $color

@mixin section-padding-classes
  &--padding-full
    @extend %section-padding-full

  &--padding-half
    @extend %section-padding-half

  &--padding-full-top-half-bottom
    @extend %section-padding-full-top-half-bottom

  &--padding-half-top-full-bottom
    @extend %section-padding-half-top-full-bottom

  &--padding-top-only
    @extend %section-padding-top-only

  &--padding-bottom-only
    @extend %section-padding-bottom-only

