.pages-about
  .pages-about__sections.page-section(v-for='(section, i) in props.page_sections' :key='`about-section-${i}`')
    BlockContent(v-if='section.acf_fc_layout === "block_content"', :props='section')