.pages-home
  .pages-home__sections.page-section(v-for='(section, i) in props.page_sections' :key='`home-section-${i}`')
    BlockContent(v-if='section.acf_fc_layout === "block_content"', :props='section')