.pages-press
  .pages-press__section.page-section(v-for='(section, i) in props.page_sections' :key='`about-section-${i}`' :style='{ zIndex: section.acf_fc_layout === "contact_form" ? 2 : null }')
    HeroHome(v-if='section.acf_fc_layout === "hero_home"', :props='section')
    HeroPages(v-else-if='section.acf_fc_layout === "hero_pages"', :props='section')
    HeroServicePages(v-else-if='section.acf_fc_layout === "hero_service_pages"' :props='section')
    BlockTextLink(v-else-if='section.acf_fc_layout === "content_link"', :props='section')
    BlockContent(v-else-if='section.acf_fc_layout === "block_content"', :props='section')
    BlockSubNavigation(v-else-if='section.acf_fc_layout === "block_sub_navigation"', :props='section')
    BlockSideTitleContent(v-else-if='section.acf_fc_layout === "side_title_content"', :props='section')
    BlockCountUpBanner(v-else-if='section.acf_fc_layout === "count_up_banner"', :props='section')
    BlockTestimonials(v-else-if='section.acf_fc_layout === "testimonials"', :props='section')
    BlockContact(v-else-if='section.acf_fc_layout === "contact_form"', :props='global.contact_form')
    BlockSubscribe(v-else-if='section.acf_fc_layout === "subscribe_banner"', :props='global.subscribe_banner')
    CustomOfferings(v-else-if='section.acf_fc_layout === "custom_offerings"', :props='section')
    BlockGraphicContent(v-else-if='section.acf_fc_layout === "side_graphic_content"', :props='section')
    BlockSideImageContent(v-else-if='section.acf_fc_layout === "side_image_content"', :props='section')
    CustomServiceBlocksBorder(v-else-if='section.acf_fc_layout === "custom_service_blocks" && section.style === "border"', :props='section')
    CustomServiceBlocksBackground(v-else-if='section.acf_fc_layout === "custom_service_blocks" && section.style === "background-color"', :props='section')
    CustomBlogsAll(v-else-if='section.acf_fc_layout === "blog_list"', :pageTitle='props.title' :posts='press', :categories='categories', :featPost='featPost', :global='global', :totalPages='totalPages', @update-blogs='press = $event', @update-total-pages='totalPages = $event')