.pages-m-a
  .pages-m-a__sections.page-section(v-for='(section, i) in props.page_sections' :key='`m-a-section-${i}`')
    HeroPages(v-if='section.acf_fc_layout === "hero_pages"', :props='section')
    BlockContent(v-else-if='section.acf_fc_layout === "block_content"', :props='section')
    BlockLinks(v-else-if='section.acf_fc_layout === "block_links"', :props='section')
    BlockSeparator(v-else-if='section.acf_fc_layout === "separator"', :props='section')
    CustomMABlocks(v-else-if='section.acf_fc_layout === "custom_m_a_blocks"', :props='section')
    CustomMACapabilities(v-else-if='section.acf_fc_layout === "custom_m_a_capabilities"', :props='section')
    CustomMAWhatWeDo(v-else-if='section.acf_fc_layout === "custom_m_a_what_we_do"', :props='section')
    CustomMACaseStudy#case-study(v-else-if='section.acf_fc_layout === "custom_m_a_case_study"', :props='section')