.custom-management-capabilities
  @include section-padding-classes
  position: relative

  &__container
    @include container
    justify-content: center
    overflow: hidden

  &__column
    @include col (10)
    @include phone-land-lg
      width: 100%
