section.custom-contact-section(v-if='props && global' :class='[ `custom-contact-section--padding-${props.padding}` ]' :style="[ $route.path === '/contact-us' ? { minHeight: elemMinHeight } : null ]")
  BaseBackground.custom-contact-section__background(v-if='props.background' :src='props.background.src' :webp='props.background.webp')
  .custom-contact-section__container
    .custom-contact-section__column--left(v-if='props.has_address')
      h2.custom-contact-section__header(v-if='props.header' ref='header') {{ props.header }}
      p.custom-contact-section__subheader(v-if='props.subheader' v-html='props.subheader' ref='subheader')
      .custom-contact-section__address(ref='address')
        .custom-contact-section__address-name {{ global.company_name }}
        a.custom-contact-section__address-link(v-html='global.address.label' :href='global.address.href' target='_blank' :aria-label='`open map to ${global.address.label}`')
        a.custom-contact-section__address-link(:href='global.phone.href' target='_blank' :aria-label='`call ${global.phone.number}`') {{ "Office: " + global.phone.number }}
    .custom-contact-section__column--right
      h2.custom-contact-section__header(v-if='props.header && !props.has_address' ref='header') {{ props.header }}
      p.custom-contact-section__subheader(v-if='props.subheader && !props.has_address' v-html='props.subheader' ref='subheader')
      //- FormFormContact.custom-contact-section__form(:centered='!props.has_address' :class='{ "custom-contact-section__form--margin": props.has_address }')
      .custom-contact-section__form(:centered='!props.has_address' :class='props.has_address ? "custom-contact-section__form--margin" : "custom-contact-section__form--centered"')
        <div id="mc_embed_signup">
          <form action="https://advisorgrowthllc.us10.list-manage.com/subscribe/post?u=55ab5fe4bff56950f0608f2e3&amp;id=4765233206&amp;f_id=001334e2f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
              <div class="mc-field-group">
                <input  placeholder=" " type="text" value="" name="MMERGE1" class="required" id="mce-MMERGE1" required>
                <label for="mce-MMERGE1">Name</label>
                <span id="mce-MMERGE1-HELPERTEXT" class="helper_text"></span>
                <div for="mce-MMERGE1" class="mce_inline_error"></div>
              </div>
              <div class="mc-field-group">
                <input  placeholder=" " type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" required>
                <label for="mce-EMAIL">Email Address</label>
                <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
                <div for="mce-EMAIL" class="mce_inline_error"></div>
              </div>
              <div class="mc-field-group mc-field-group--textarea">
                <textarea  placeholder=" " rows="5" value="" name="MMERGE2" class="" id="mce-MMERGE2"></textarea>
                <label for="mce-MMERGE2" class="textarea-label">Message</label>
                <span id="mce-MMERGE2-HELPERTEXT" class="helper_text"></span>
              </div>
              <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
              </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="b_55ab5fe4bff56950f0608f2e3_4765233206" tabindex="-1" value="">
              </div>
              <div class="clear button-div">
                <input type="submit" value="Send" name="subscribe" id="mc-embedded-subscribe" class="button">
              </div>
            </div>
          </form>
        </div>